{{>nav}}

<div id="home-content">
    <div class="home-container">
        <br>
        <h1>Bienvenido {{user}}</h1>
        <br>
        
        <div class="img-container">
            <img src="/stylesheets/img/logo-ugb-horizontal.png" alt="">
        </div>


        <p>NUESTRA HISTORIA</p>
        <br>
        <br>
        <p>La Universidad Gerardo Barrios (UGB) fue fundada el 5 de diciembre de 1981 en el Centro Histórico de la ciudad
            de San Miguel en El Salvador. Su actual sede central se ubicó en la casa donde nació Juan José Cañas,
            compositor de la letra del Himno Nacional de El Salvador. <br>

            La universidad surgió con el lema: “Hacia una formación profesional, humana, responsable y actualizada”, dio
            inicio a sus actividades educativas con cuatro facultades y ocho carreras en 1982 en la ciudad de San
            Miguel; en 1986 se apertura el Centro Regional de Usulután con nueve carreras. La UGB en los primeros diez
            años de su historia ofertó once carreras. <br>

            En 1988 la universidad avanza a la era digital y adquiere las primeras computadoras que permitieron brindar
            un servicio educativo actualizado y representó un crecimiento importante en la matrícula estudiantil, de 270
            que ingresaron en 1982 se incrementó a 989 estudiantes en 1990, logrando graduarse 342 profesionales quienes
            le dieron un gran impulso a la región.</p>
    </div>







</div>

{{>footer}}