<body class="center">

    <div class="form-container">
        <div class="form-mini">

            {{#if message}}
            <div class="alert alert-danger" {{messageClass}}>
                {{message}}
            </div>
            {{/if}}

            <form method="POST" action="/login">

                <!--Nombre del empleado-->
               
                    <h3>Email</h3>
                    
                    <input type="text" name="email" id="email" class="form-control">
             
                <!--Contrasenia-->
             
                    <h3>Contraseña</h3>
            
                    <input type="password" name="password" id="password" class="form-control">
           

                <!--Boton de login-->
            
                    <input type="submit" class="btn btn-lg btn-primary">
       


            </form>

        </div>
    </div>

</body>