<div class="row justify-content-md-center">
    <div class="col-md-4">
        {{#if message}}
            <div class="alert alert-danger" {{messageClass}} >
                {{message}}
            </div>
        {{/if}}
        <form  method="POST" action="/login" >

        <!--Nombre del empleado-->
        <div class="form-group">
            Email: <input type="text" name="email" id="email" class="form-control">
        </div>
        <!--Contrasenia-->
        <div class="form-group">
            Contraseña: <input type="password" name="password" id="password" class="form-control">
        </div>
        
        <!--Boton de login-->
        <div class="form-group">
            <input type="submit" class="btn btn-primary">
        </div>

        
        </form>
        
    </div>
</div>