
<header>
    <nav class="navbar navbar-style">
        <ul class="left-ul">
            <li>
                <h1>Employee

                </h1> 
            </li>
        </ul>
        <ul class="right-ul">
            <li>
                <button href="">Contactanos</button>
            </li>
        </ul>
    </nav>

</header>

<a href="/login">Login</a>
<a href="/register">Register</a>





{{!-- <div style="margin-top 30px;">   
<a href="/login" class="btn btn-primary">Login Employee</a>
<a href="/register" class="btn btn-primary">Register Employee</a>

</div> --}}