
<header>
    <nav class="navbar navbar-style">
        <ul class="left-ul">
            <li>
                <h1>Employee</h1> 
            </li>
        </ul>
        <ul class="right-ul">
            <li>
                <button href="">Contactanos</button>
            </li>
        </ul>
    </nav>

</header>
